* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: rgb(57, 55, 55);
    padding: 25px 0;
    display: flex;
    justify-content: center;
    border: 3px solid black;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
}